* {
	font-family: sans-serif;
}

body {
	font-family: sans-serif;
	font-weight: 100;
	padding: 0px;
	margin: 0px;
}

main {
	margin: 7px;
}

h1, h2, h3, h5 {
	margin: 1px;
}

footer {
	bottom: 0px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #ecf0f1;
}

div.code-block {
	display: inline-block;
	background-color: #ecf0f1;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid grey;
}

pre, code {
	padding: 0px;
	margin: 0px;
}

footer {
	background-color: #ecf0f1;
	padding: 0px;
	text-align: center;
}

header {
	background-color: #ecf0f1;
}

img {
	width: 500px;
}

fieldset {
	background-color: #ecf0f1;
}

legend {
	background-color: #7f8c8d;
	border-radius: 10px;
	color: #fff;
	padding: 5px;
}

tr:hover {
	background-color: rgba(46, 204, 113,1.0);
	color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .warning {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .warning {
    display: none;
  }
}

.flexbox {
	background-color: #3498db;
	display: flex;
	align-items: stretch;
	max-width: 500px;
}

.flexbox > div {
	background-color: #1abc9c;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
}

.grid > div {
	background-color: #1abc9c;
	color: #fff;
	padding: 5px; 
	border-radius: 5px;
	margin: 5px;
	text-align: center;
}

.grid > .top { grid-area: top; }
.grid > .left { grid-area: left; }
.grid > .right { grid-area: right; }
.grid > .bottom { grid-area: bottom; }

.grid-parent {
	height: 110px;
}

.grid {
	background-color: #3498db;
	display: inline-grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: auto;
	grid-template-areas:
		"top top ."
		"left . right"
		". bottom bottom";
	position: absolute;
	right: 5px;
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

.crab {
	font-size: 40px;
	position: fixed;
	z-index: 99;
	top: 5px;
	right: 5px;
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}